:root {
  --clr-dark: #0f141a;
  --clr-light: #e9e9ed;
  --clr-blue: #5cd6ff;
  /* --clr-yellow: #ffcb47; */
  --clr-yellow: #d6c63f;
  --clr-opal: #97c3ba;
  --clr-red: #cc2936;
  /* --clr-purple: #b4419d; */
  --clr-purple: #ad70d7;
  --clr-orange: #f95738;
}
