@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=JetBrains+Mono&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Monoton&display=swap');

:root {
  --ff-display: 'Monoton', monospace;
  --ff-title: 'Lora', serif;
  --ff-body: 'Inter', sans-serif;
  --ff-mono: 'JetBrains Mono', monospace;

  --fw-200: 200;
  --fw-400: 400;
  --fw-700: 700;

  --fs-xs: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
  --fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-2x: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fs-3x: clamp(3.05rem, 3.54vw + 2.17rem, 8rem);
}

h1 {
  font-family: var(--ff-title);
  font-size: 3rem;
}
