:root {
  --space-header-2x: calc(2 * var(--fs-3x));
  --title-bg-size: 2rem;
  --title-shift-opacity: 0.25;
}

body {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: var(--clr-dark);

  color: var(--clr-light);
  font-family: var(--ff-body);
}

.title__bar__wrapper {
  position: fixed;
  background-color: var(--clr-yellow);
  top: calc(-2 * var(--fs-sm) - var(--fs-xl));
  width: 100%;
  padding: var(--fs-sm);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 8px 2px;
  z-index: 10;
  transition: top 0.4s ease-in-out;

  & h1 {
    color: var(--clr-dark);
    font-family: var(--ff-body);
    font-size: var(--fs-md);
    font-weight: var(--fw-700);
    text-shadow: rgba(93, 214, 255, 0.75) -1px 1px 0px,
      rgba(93, 214, 255, 0.75) -2px 2px 0px,
      rgba(93, 214, 255, 0.75) -3px 3px 0px;
  }
}

.title__bar_sticky {
  top: 0;
  transition: top 0.4s ease-in-out;
}

.bar__100 {
  height: 100px;
}

.bar__200 {
  height: 200px;
}

.bar__300 {
  height: 300px;
}

.bar__400 {
  height: 400px;
}

.bar__500 {
  height: 500px;
}
.bar__600 {
  height: 600px;
}

@media (max-width: 700px) {
  .bar__100 {
    height: 50px;
  }

  .bar__200 {
    height: 100px;
  }

  .bar__300 {
    height: 150px;
  }

  .bar__400 {
    height: 200px;
  }

  .bar__500 {
    height: 250px;
  }
  .bar__600 {
    height: 300px;
  }
}

.header-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  padding-top: 50vh;
  flex-direction: column;
  font-family: var(--ff-mono);
  isolation: isolate;
  z-index: -1;

  & img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  --space-titles: 0px;

  & div.title__bars__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-titles);

    align-content: end;
    align-items: end;
  }

  & div.title__bar {
    width: 100%;
    mix-blend-mode: difference;
    margin-block: var(--space-titles);
  }
}

.title__text__wrapper {
  overflow: hidden;
  color: rgba(233, 233, 237, 0.1);
  height: 100vh;
}

.header__bottom__spacer {
  min-height: var(--fs-3x);
  background-color: var(--clr-yellow);
}

.header__title_container {
  position: sticky;
  top: 0;
}

.header__title_background {
  /* background-color: var(--clr-yellow); */

  position: sticky;
  top: 0;
  min-height: calc(1.75 * var(--fs-3x));

  @media (max-width: 700px) {
    min-height: calc(3 * var(--fs-3x));
  }
}

.home__spacer_background {
  /* background-color: var(--clr-red); */
}

.content__pin_word {
  background-color: var(--clr-dark);
  position: sticky;
  top: calc(var(--fs-2x));
  padding: 0 var(--fs-xs);
  margin: 0 calc(-1 * var(--fs-xs));
  z-index: 12;
  text-shadow: var(--letterpressed);
}

.pin__active {
  background-color: var(--clr-dark);
  box-shadow: -6px 6px 0px 0px rgba(255, 203, 71, 1),
    -5px 5px 0px 0px rgba(255, 203, 71, 1),
    -4px 4px 0px 0px rgba(255, 203, 71, 1),
    -3px 3px 0px 0px rgba(255, 203, 71, 1),
    -2px 2px 0px 0px rgba(255, 203, 71, 1),
    -1px 1px 0px 0px rgba(255, 203, 71, 1);
  transition: all 0.25s ease-in-out;
  z-index: 12;
}

.content__wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 16fr 1fr;
  }
}

.content {
  /* min-height: 100vh; */
  padding-top: 6rem;
}

.content__excerpt {
  font-family: var(--ff-body);
  font-size: var(--fs-xl);
  font-weight: var(--fw-700);
  line-height: calc(1.2 * var(--fs-xl));
  text-transform: uppercase;
  overflow-wrap: normal;

  @media (max-width: 1000px) {
    font-size: var(--fs-xl);
    line-height: var(--fs-xl);
  }
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  background: var(--clr-dark)
    linear-gradient(180deg, var(--clr-yellow) 0%, #d6c63fea 100%);

  /* box-shadow: rgba(0, 0, 0, 0.45) 20px 25px 20px 20px; */

  padding: var(--fs-3x) 0;

  font-family: var(--ff-title);
  font-size: var(--fs-lg);
  line-height: calc(1.25 * var(--fs-lg));

  font-weight: 700;

  & p {
    margin: var(--fs-md) 0;
    text-shadow: var(--letterpressed);
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 16fr 1fr;
  }
}

.about__emphasis {
  background-color: var(--clr-dark);
  padding: 0 var(--fs-xs);
}

.about__stressed {
  font-style: italic;
}

.contact__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  padding-block: calc(3 * var(--fs-3x));

  text-transform: none;
  font-size: var(--fs-xl);
  text-align: center;
}

h2.contact__title {
  margin-block-end: var(--fs-2x);

  font-family: var(--ff-title);
  font-size: var(--fs-3x);
  font-weight: var(--fw-700);
  text-shadow: var(--letterpressed);
}

.contact__link {
  line-height: calc(1.5 * var(--fs-lg));
  font-size: var(--fs-lg);
  text-decoration: none;

  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  padding: var(--fs-sm) var(--fs-md);

  color: var(--clr-yellow);

  margin-block: var(--fs-md);

  background-color: var(--clr-dark);

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  @media (max-width: 700px) {
    line-height: calc(1.5 * var(--fs-md));
    font-size: var(--fs-md);
  }

  & .contact__bg {
    &:before {
      background-color: var(--clr-yellow);
      content: '';
      inset: 0;
      position: absolute;
      clip-path: circle(var(--fs-md) at calc(1.5 * var(--fs-lg)) 50%);
      transition: all 0.3s ease-in-out;
    }
  }

  & .contact__logo {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    color: var(--clr-dark);

    & span {
      margin-inline-start: calc(1 * var(--fs-lg));
      font-size: var(--fs-lg);
    }
  }

  & .contact__link__wrapper {
    z-index: 1;
  }

  & a {
    font-family: var(--ff-mono);
    text-decoration: none;
    color: var(--clr-yellow);
    margin-inline-start: calc(1.75 * var(--fs-lg));
    transition: all 0.25s ease-in-out;
  }
}
.contact__link__target {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.contact__link:has(.contact__link__target:hover) {
  & a {
    color: var(--clr-dark);
  }
  & .contact__bg:before {
    clip-path: circle(200% at calc(1.5 * var(--fs-lg)) 50%);
  }
}

.projects__wrapper {
  --projects-spacing: calc(1.5 * var(--fs-3x));

  margin-block: var(--projects-spacing);

  text-transform: none;
  font-size: var(--fs-md);
  line-height: var(--fs-md);

  & > div:not(:last-child) {
    margin-block-end: var(--projects-spacing);
  }
}
.project__card__wrapper {
  display: flex;
  gap: var(--fs-base);

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  & .project__image__wrapper {
    & img {
      min-width: clamp(12.5rem, 3.571rem + 23.81vw, 25rem);
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
  }
}

.project__info {
  display: flex;
  flex-direction: column;
  gap: 0;

  & h3.project__title {
    font-size: var(--fs-xl);
    font-family: var(--ff-body);
    line-height: calc(1.2 * var(--fs-xl));
    color: var(--clr-yellow);
    background-color: var(--clr-dark);
    padding-inline: var(--fs-sm);
    padding-block: calc(0.5 * var(--fs-xs));
  }
}

.project__tag__cloud {
  display: flex;
  gap: var(--fs-sm);
  background-color: rgb(15 20 26 / 0.05);
  padding-inline: var(--fs-sm);
  padding-block: calc(0.5 * var(--fs-xs));
  margin-block-end: var(--fs-base);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  & span.project__category {
    font-family: var(--ff-title);
    font-size: var(--fs-md);
    font-style: italic;
    line-height: calc(1.2 * var(--fs-md));
    text-shadow: var(--letterpressed);
    color: var(--clr-dark);
  }

  & .project__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  & span.project__tag {
    font-family: var(--ff-mono);
    font-size: var(--fs-sm);
    line-height: calc(var(--fs-base));
    text-transform: uppercase;
    background-color: var(--clr-dark);
    color: var(--clr-opal);
    padding: 2px 1ch;
    margin: 2px;
    border-radius: 2px;
  }
}

div.project__description {
  margin-block-end: var(--fs-base);
  font-size: var(--fs-base);
  line-height: calc(1.4 * var(--fs-base));
  font-family: var(--ff-title);
  text-align: justify;
  padding-inline: var(--fs-sm);
  display: flex;
  flex-direction: column;
  gap: var(--fs-sm);

  & code {
    font-family: var(--ff-mono);
    font-size: 0.9em;
  }

  & h4 {
    display: inline;
    font-family: var(--ff-mono);
    text-decoration: underline;
  }
}

.project__links {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: -6px;
  padding-inline: var(--fs-sm);

  color: var(--clr-dark);
}

.project__link__wrapper {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  opacity: 0.75;
  padding: 2px 8px 2px 4px;
  transition: all 0.25s ease-in-out;
  border-radius: 2px;

  & .project__link__logo {
    display: flex;
    padding: 2px;
    height: var(--fs-sm);
  }

  & .project__link {
    & a {
      color: inherit;
      font-size: var(--fs-sm);
      line-height: calc(2 * var(--fs-sm));
      display: inline-flex;
      padding: 0 0 2px 2px;

      text-decoration: underline;

      & span {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
      }
    }
  }
}

.project__link__wrapper:has(.project__link__target:hover) {
  background-color: var(--clr-dark);
  color: var(--clr-blue);
  opacity: 1;
  mix-blend-mode: hard-light;
  box-shadow: -3px 3px 0px 0px rgba(255, 203, 71, 1),
    -2px 2px 0px 0px rgba(255, 203, 71, 1),
    -1px 1px 0px 0px rgba(255, 203, 71, 1);
}
